<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ x }}
{{ q1 }}
{{ q2 }}
{{ q3 }}
<form  method="post" >
{% csrf_token %}

    {% for f in form %}
    <p><label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
    <div class="form_error">{{ f.errors }}</div>
    {% endfor %}


<button class='form_label' type="submit">Add</button>
</form>

<form  method="get" >
{% csrf_token %}

    {% for f in form1 %}
    <p><label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
    <div class="form_error">{{ f.errors }}</div>
    {% endfor %}

</form>
</body>
</html>